<h4 class="helvetica">Student <%= internship.student %></h4>
<h5 class="helvetica">
<% if(term == "final"){ %>
  Eindevaluatie  
<% }else{ %>
  Tussentijdse evaluatie
<% } %>
  2014</h5>
<div class="table-responsive" id="scoreTable">
  <form id="evaluateForm">
  <table class="table table-striped" id="evaluateTable">
    <thead>
      <tr>
        <th></th>
        <th>Vraag</th>
        <th>Beoordeling</th>
        <th style="width:70px;">Punt</th>
        <th style="width: 200px;">Opmerking</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot class="well">
      <tr>
        <td></td>
        <td><h4>Eindscore</h3></td>
        <td>
          <select id="totalScoreOptions" name="scoref" class="form-control" required>
            <option value="placeholder" disabled selected>Maak een keuze</option>
            <% _.each(scoreOptions, function(scoreOption, index) { %>

              <!-- Verberg de "niet van toepassing optie -->
              <% if((index+1) != scoreOptions.length){ %>
                <% if(selectedScore == (index+1)){ %>
                   <option selected><%= scoreOption.question_rating_rating_nl %></option>
                <% }else{  %>
                   <option><%= scoreOption.question_rating_rating_nl %></option>
                <% } %>
                <% } %>
              <% }); %>
          </select>
        </td>
        <td  colspan="2" class="score-description"></td>
      </tr>
    </tfoot>
  </table>
</form>
  <a href="javascript:;" class="btn btn-primary pull-right btn-lg" id="save">Bewaar</a>
  <a href="javascript:;" class="btn pull-right btn-lg" id="pdfDownload">Download PDF</a>
</div>