<h4>Student <%= internship.student %></h4>
<h5>Tussentijdse evaluatie 2014</h5>
<div class="table-responsive" id="scoreTable">
  <table class="table table-striped" id="evaluateTable">
    <thead>
      <tr>
        <th></th>
        <th>Vraag</th>
        <th>Beoordeling</th>
        <th style="width:70px;">Punt</th>
        <th style="width: 200px;">Opmerking</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>EINDSCORE</td>
        <td>
          <select id="totalScoreOptions">
            <option value="placeholder" disabled selected>Maak een keuze</option>
            <% _.each(scoreOptions, function(scoreOption) { %>
                <option><%= scoreOption.question_rating_rating_nl %></option>
            <% }); %>
          </select>
        </td>
        <td  colspan="2" class="score-description"></td>
      </tr>
    </tfoot>
  </table>

  <a href="javascript:;" class="btn btn-primary pull-right" id="pdfDownload">Download PDF</a>
  <a href="javascript:;" class="btn btn-primary pull-right" id="save">Bewaar</a>
</div>