<div id="brand" class="container">
  <header>
        <hgroup>
            <h1><a href="javascript:;" id="logo"><span>Devine</span></a></h1>
            <h2><span>Digital Design &amp; Development</span></h2>
        </hgroup>
    </header>

    <h2>Devine stage evaluatie</h2>


  <ul id="languageSelection">
    <li><a href="javascript:;" data-lang="nl" class="btn btn-default">NL</a></li>
    <li><a href="javascript:;" data-lang="en" class="btn btn-default">EN</a></li>
  </ul>
</div>

<div id="container" class="container">

</div>