<form class="form-register" role="form" id="registerForm" action="javascript:;">
	<h4 class="form-signin-heading"><%= copy.registerTitle %></h4>
	<div class="bg-danger hide" id="errorBox">
	<%= copy.registerError %>
  	</div>
	<input type="text" class="form-control" placeholder="<%= copy.nameField %>" required="" autofocus="" id="nameInput" name="naam">
	<input type="email" class="form-control" placeholder="<%= copy.emailField %>" required="" autofocus="" id="emailInput" name="email">
	<input type="text" class="form-control" placeholder="<%= copy.companyField %>" required="" autofocus="" id="bedrijfInput" name="bedrijf">
	<input type="text" class="form-control" placeholder="<%= copy.verifyCode %>" required="" autofocus="" id="verifyCode" name="verify_code">
	<button class="btn btn-lg btn-primary btn-block" type="submit"><%= copy.registerBtn %></button>
</form>

