<form class="form-register" role="form" id="registerForm" action="javascript:;">
	<h4 class="form-signin-heading"><%= copy.registerTitle %></h4>
	<input type="text" class="form-control" placeholder="<%= copy.nameField %>" required="" autofocus="" id="nameInput" name="naam">
	<input type="email" class="form-control" placeholder="Email adres" required="" autofocus="" id="emailInput" name="email">
	<input type="text" class="form-control" placeholder="<%= copy.companyField %>" required="" autofocus="" id="bedrijfInput" name="bedrijf">
	<button class="btn btn-lg btn-primary btn-block" type="submit"><%= copy.registerBtn %></button>
</form>