<h4 class="helvetica"><span class="no-pdf">Student</span> <%= internship.student %></h4>
<h5 class="helvetica">
<% if(term == "final"){ %>
  <%= copy.finalLabel %>  
<% }else{ %>
  <%= copy.interimLabel %>  
<% } %>
  2014</h5>
<div class="table-responsive" id="scoreTable">
  <form id="evaluateForm">
  <table class="table table-striped" id="evaluateTable">
    <thead>
      <tr>
        <th></th>
        <th><%= copy.questionLabel %></th>
        <th><%= copy.ratingLabel %></th>
        <th style="width:70px;"><%= copy.scoreLabel %></th>
        <th style="width: 200px;"><%= copy.remarkLabel %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot class="well">
      <tr>
        <td></td>
        <td><h4><%= copy.finalScoreLabel %></h3></td>
        <td>
          <select id="totalScoreOptions" name="scoref" class="form-control" required>
            <option value="placeholder" disabled selected><%= copy.selectionLabel %></option>
            <option rating-id="1">20</option>
            <option rating-id="1">19</option>
            <option rating-id="1">18</option>
            <option rating-id="1">17</option>
            <option rating-id="1">16</option>
            <option rating-id="2">15</option>
            <option rating-id="2">14</option>
            <option rating-id="3">13</option>
            <option rating-id="3">12</option>
            <option rating-id="4">11</option>
            <option rating-id="4">10</option>
            <option rating-id="5">9</option>
            <option rating-id="5">8</option>
            <option rating-id="6">7</option>
            <option rating-id="6">6</option>
            <option rating-id="7">5</option>
            <option rating-id="7">4</option>
            <option rating-id="7">3</option>
            <option rating-id="7">2</option>
            <option rating-id="7">1</option>
            <option rating-id="7">0</option>
          </select>
        </td>
        <td  colspan="2" class="score-description"></td>
      </tr>
    </tfoot>
  </table>
</form>
  <a href="javascript:;" class="btn no-pdf btn-primary pull-right btn-lg" id="save"><%= copy.saveLabel %></a>
  <a href="javascript:;" target="_blank" class="btn no-pdf pull-right btn-lg" id="pdfDownload"><%= copy.exportLabel %></a>
</div>

<div class="hide" id="pdfContainer">

</div>